# velero-values.yaml

# 1. Настройки плагинов
initContainers:
  - name: velero-plugin-for-aws
    image: velero/velero-plugin-for-aws:v1.9.0
    volumeMounts:
      - mountPath: /target
        name: plugins

# 2. Общая конфигурация
configuration:
  # Провайдер AWS используется для любого S3 (в т.ч. MinIO)
  provider: aws
  
  backupStorageLocation:
    - name: default
      provider: aws
      bucket: velero-backups
      config:
        region: us-east-1
        s3ForcePathStyle: "true" # Критично для MinIO
        s3Url: http://minio.minio.svc.cluster.local:9000 # Внутренний адрес (быстрее)
        publicUrl: https://minio.ccsfarm.local # Для скачивания логов через CLI извне

  volumeSnapshotLocation:
    - name: default
      provider: aws
      config:
        region: us-east-1

# 3. Учетные данные (Credentials)
credentials:
  useSecret: true
  secretContents:
    cloud: |
      [default]
      aws_access_key_id = velero
      aws_secret_access_key = FeerDe3o

# 4. Настройка агентов для NFS (File System Backup)
deployNodeAgent: true

# Глобальная настройка: если PV не поддерживает снапшоты (наш случай с NFS),
# использовать копирование файлов (FS Backup) по умолчанию.
defaultVolumesToFsBackup: true

# 5. Ресурсы (опционально, но полезно)
resources:
  requests:
    cpu: 500m
    memory: 512Mi
  limits:
    cpu: 1000m
    memory: 1024Mi

# 6. Расписание (Пример)
schedules:
  daily-full:
    disabled: false
    schedule: "0 3 * * *" # В 3:00 ночи
    template:
      ttl: "720h" # Хранить 30 дней
      includedNamespaces:
        - "*" # Бэкапить все неймспейсы
      snapshotVolumes: true