imagePullPolicy: IfNotPresent
revisionHistoryLimit: 3
gitlabUrl: https://gitlab.ccsfarm.local/
terminationGracePeriodSeconds: 3600
# Количество раннеров
concurrent: 5
checkInterval: 30
logLevel: info
logFormat: json
sessionServer:
  enabled: false
certsSecretName: custom-ca-certs
rbac:
  create: true
  rules:
  - resources: ["pods", "secrets", "configmaps"]
    verbs: ["get", "list", "watch", "create", "patch", "delete", "update"]
  - apiGroups: [""]
    resources: ["pods/exec", "pods/attach"]
    verbs: ["create", "patch", "delete"]
  clusterWideAccess: false
  podSecurityPolicy:
    enabled: false
    resourceNames:
    - gitlab-runner
metrics:
  enabled: true
  portName: metrics
  port: 9252
  serviceMonitor:
    enabled: true
    namespace: monitoring
    labels:
      release: kube-prometheus-stack
    interval: "30s"      
service:
  enabled: true
  type: ClusterIP
  ports:
    - name: metrics
      port: 9252
      targetPort: metrics
      protocol: TCP  nslookup kubernetes.default
runners:
  config: |
    # log_level = "debug"
    [[runners]]
      output_limit = 10000
      [runners.kubernetes]
        image = "registry.red-soft.ru/ubi8/ubi-micro"
        dns_config_options = ["ndots:2"]
        # helper_image = "if use custom helper"
        [[runners.kubernetes.volumes.secret]]
          name = "custom-ca-certs"
          mount_path = "/custom-certs"
          read_only = true 
        environment = [
          "SSL_CERT_FILE=/custom-certs/gitlab.ccsfarm.local.crt"
        ]
        [[runners.kubernetes.host_aliases]]
          ip = "10.10.2.111"
          hostnames = ["gitlab.ccsfarm.local", "registry-docker.ccsfarm.local", "registry-nexus.ccsfarm.local", "nexus.ccsfarm.local"]                 
      [runners.cache]
        Type = "s3"
        Path = ""
        Shared = true
        [runners.cache.s3]
          ServerAddress = "minio.minio.svc.cluster.local:9000"
          BucketName = "dev-runner-cache"
          BucketLocation = "us-east-1"
          Insecure = true
          AuthenticationType = "access-key"
  cache:
    secretName: dev-gitlab-runner
  executor: kubernetes
  secret: dev-gitlab-runner
securityContext:
  runAsUser: 100
  # runAsGroup: 65533
  fsGroup: 65533
  # supplementalGroups: [65533]
resources:
  limits:
    memory: 256Mi
    cpu: 200m
  requests:
    memory: 128Mi
    cpu: 100m