apiVersion: v1
kind: Secret
metadata:
  name: minio-creds-backup
  namespace: postgres          # ВАЖНО: Кладем к базе данных
type: Opaque
stringData:
  # Данные от твоего MinIO (те же, что и в основном секрете)
  access-key: "admin" 
  secret-key: "password"
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: db-backup-s3
  namespace: postgres
spec:
  schedule: "0 3 * * *" # Каждый день в 3:00 ночи
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 1
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          # Если образ лежит в приватном Nexus, нужен imagePullSecrets
          # imagePullSecrets:
          #   - name: nexus-docker-secret 
          containers:
          - name: backup
            # Твой собранный образ
            image: registry-nexus.ccsfarm.local/pg-backup:latest
            imagePullPolicy: Always
            
            # Переменные конфигурации
            env:
            - name: DB_HOST
              value: "postgres-np" # Сервис внутри этого же NS
            - name: MINIO_ENDPOINT
              # Полный путь, так как MinIO в другом NS
              value: "minio.minio.svc.cluster.local:9000" 
            
            # Секреты БД (из родного секрета базы)
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD
            
            # Секреты MinIO (из копии, созданной на Шаге 1)
            - name: MINIO_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: minio-creds-backup
                  key: access-key
            - name: MINIO_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: minio-creds-backup
                  key: secret-key
                  
          restartPolicy: OnFailure